
<h5 class="card-header">{{dialogData.action}} Formation Sollicitée </h5>
<div class="card-body">
    <form  [formGroup]="formF">
        
        <div class="form-row">
        
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                <label for="validationCustom05">Formation</label>
                <select  type="text" class="form-control" formControlName="formation"  required
                [ngClass]="{
                    'is-invalid': formF.get('formation').touched && !formF.get('formation').valid
                }">
                <option value="">---Select---</option>
                <option *ngFor="let form of formations" value="{{form.id}}">
                    {{form.title}}
                </option>
                </select>
                <div class="invalid-feedback">
                    <span *ngIf="formF.get('formation').errors?.required">Entrez la formation</span>
                </div>
            </div>
         
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                <label for="validationCustom05">Stagiaire</label>
                <select  type="text" class="form-control" formControlName="stagiaire"  required >
                <option value="">---Select---</option>
                <option *ngFor="let stage of stagiaires" value="{{stage.id}}">
                    {{stage.name}}  {{stage.postnom}} {{stage.prenom}}
                </option>
                </select>
                
                <div class="invalid-feedback">
                    <span *ngIf="formF.get('stagiaire').errors?.required">Entrez le stagiaire</span>
                </div>
            </div>



            <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                <label for="validationCustom03">Date Paiement</label>
                <input type="text" class="form-control" formControlName="datePaie" placeholder="exemple: 2022-02-02" required
                [ngClass]="{
                    'is-invalid': formP.controls.datePaie.touched && !formP.get('datePaie').valid
                }"/>
                <div class="invalid-feedback">
                    <span *ngIf="formP.controls.datePaie.errors?.required">Entrez la date</span>
                    <span *ngIf="formP.controls.datePaie.errors?.pattern">Respectez le format de la date!</span>
                </div>
            </div> -->
          
       
           </div>
            <br>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button class="btn btn-primary" [disabled]="!formF.valid" type="submit" *ngIf="fcId==0" (click)="addFc()">Enregister</button>
                <button class="btn btn-primary" [disabled]="!formF.valid" type="submit" *ngIf="fcId!=0" (click)="edit()">Modifier</button>
            </div>
   
    </form>
</div>

<!-- ============================================================== -->
<!-- end validation form -->
<!-- ============================================================== -->

